body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0%;
    /*background-color: #f5f5f5; */
}
.container {
    max-width: max-content;
    width: fit-content;
    margin: 0.1% auto auto auto;
    background: white;
    padding: 1% 0.5% 1% 0.6%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.calendar-controls {
    display: flex;
    gap: 10px;
    align-items: center;
}
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.6%;
}
.day-header {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background: #4a6fa5;
    color: white;
    border-radius: 4px;
}
.day {
    border: 1px solid #ddd;
    padding: 4%;
    min-height: auto;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s ease;
    position: relative;
}
.day:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.today {
    background-color: #e3f2fd;
    border: 2px solid #4a6fa5;
    font-weight: bold;
}
.empty-day {
    background: #f9f9f9;
    border: none;
}
.audio-info {
    font-size: 56%;
    margin-top: 3px;
    color: #555;
    line-height: 100%;
}
#audio-player {
    margin-top: 20px;
    padding: 15px;
    background: #f0f7ff;
    border-radius: 8px;
    display: none;
    transition: all 0.3s ease;
}
#audio-title {
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}
select, button {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 14px;
}
button {
    background: #4a6fa5;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.2s;
}
button:hover {
    background: #3a5a8f;
}
#year-select, #month-select {
    cursor: pointer;
}

/* Colores litúrgicos */
.tn-bg { background-color: #8B000020; border-left: 3px solid #8B0000; }
.to-bg { background-color: #556B2F20; border-left: 3px solid #8bcc1a; }
.tc-bg { background-color: #80008020; border-left: 3px solid #800080; }
.tp-bg { background-color: #87CEEB20; border-left: 3px solid #87CEEB; }
.ta-bg { background-color: #80008020; border-left: 3px solid #800080; }